# App
APP_NAME="FastAPI Backend"
ENV="dev"
DEBUG=true

# Security
SECRET_KEY="lucasiskorean"
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM="HS256"

# Database
# Example (Postgres):
#DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/app_db"
DATABASE_URL="mysql+asyncmy://root:@127.0.0.1:3306/pocket_labs?charset=utf8mb4"