@charset "UTF-8";

/*************	width:  64em / height:  48em *****************/

body,html {
/* margin:  0 auto 화면 중앙 배치 */
width:  100%;
height:  100%;
margin:  0 auto;
}

body *{box-sizing: border-box}
.wrap{
    background:url('../images/bg.jpg') no-repeat; background-size: 100%; 
    position: relative; width: 100vw; height: 75vw; padding: 0px; margin: 0 auto; box-sizing: border-box;
    /* max-width: 1024px; max-height: 768px; */
}
.guide{
    background:url('../guide.jpg') no-repeat; background-size: 100%; 
    position:absolute; top:0; left:0; width: 100%; height: 100%;     
    padding: 0px; margin: 0px; z-index: 99; opacity: 0.4; display: none;
}

.icon_click_1{background:url('../images/icon_click.png') no-repeat; background-size: 100%; position: absolute; top: 50%; left: 16.5%; width: 3%; height: 4.5%; z-index: 81; opacity: 1;}
.icon_click_2{background:url('../images/icon_click.png') no-repeat; background-size: 100%; position: absolute; top: 70.4%; left: 34.5%; width: 3%; height: 4.5%; z-index: 81; opacity: 1;}

.blink_loop {
  animation: action_blink 2s infinite;
}

@keyframes action_blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.top_nav{position: absolute; top: 0%; width: 100%; height: 4.5%; z-index: 81;}
.top_nav div{border: solid 0px #000; height: 100%;}
.top_nav .btn_1{position: absolute; left: 12%; width: 2%;} 
.top_nav .btn_2{position: absolute; left: 17%; width: 2%;}
.top_nav .btn_3{position: absolute; left: 20.5%; width: 6.5%;}
.top_nav .btn_4{position: absolute; left: 29%; width: 2.5%;}

.side_right{position: absolute; top: 0%; left: 89.7%; width: 5.4%; height: 100%; z-index: 81;}
.side_right div{border: solid 0px #000;  height: 6.5%;}
.side_right .tab_1{position: absolute;  top: 11%; left: 0%;  width: 100%;}
.side_right .tab_2{position: absolute;  top: 18.5%; left: 0%;  width: 100%;}

.footer{position: absolute; bottom: 2.3%; left: 0; width: 100%; height: 6%; z-index: 81;}
.footer div{border: solid 0px #000;  height: 100%;}
.footer .tab_1{position: absolute; left: 2.8%; width: 4.5%;}
.footer .tab_2{position: absolute; left: 66.4%; width: 6%;}
.footer .tab_3{position: absolute; left: 73.8%; width: 6%;}
.footer .tab_4{position: absolute; left: 80.8%; width: 13%;}


.footer .btn_prev{position: absolute; left: 73.2%; width: 3.2%;}
.footer .btn_next{position: absolute; left: 78.5%; width: 3.2%;}


.title{position: absolute; top: 9.333%; left: 5.7%; width: 88.45%; opacity: 0;}
.title img{width: 100%;}

.cont_bg{position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 80;}
.cont_bg img{width: 100%; height: 100%;}

.cont_1, .cont_2, .cont_3{z-index: 81}
.cont_1 > div > img{width: 100%;}

.cont_1{
    background:url('../images/cont_1_bg.png') no-repeat; background-size: 100%; 
    position: absolute; top: 40.3%; left: 3.2%;
    width: 30.4%; height: 42.733%;
    opacity: 0;
}
.cont_1_popup_btn{position: absolute; bottom: 1%; right: 3%; width: 8%; height: 8%; border: solid 0px #000;}

.cont_1_donut_1{
    position: absolute;
    top: 21%; left: 20%; 
    width: 59.04%; height: 59.04%;
    background: url('../images/cont_1_graph_1.png') no-repeat;
    background-size: contain;
    /* clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0); */
    clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);    
}
.make_donut{
    animation-name: make_donut;
    animation-duration: 0.7s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear; 
    animation-fill-mode: forwards;
}
.cont_1_num_1{position: absolute; top: 44%; left: 40%; width: 21.546%; opacity: 0;}

.cont_2 > div > img{width: 100%;}

.cont_2{
    background:url('../images/cont_2_bg.png') no-repeat; background-size: 100%; 
    position: absolute; top: 40.3%; left: 34.9%;
    width: 30.4%; height: 42.6%;
    opacity: 0;
}
.cont_2_text_1{position: absolute; top: 83%; left: 31%; width: 35.03%; opacity: 1;}

.cont_3 > div > img{width: 100%;}
.cont_3{
    background:url('../images/cont_3_bg.png') no-repeat; background-size: 100%; 
    position: absolute; top: 38.2666%; left: 67.1%;
    width: 30.4%; height: 44.666%;
    opacity: 0;
}


.cont_3_graph_1{position: absolute; top: 26.1%; left: 28.8%;  width: 0vw; overflow: hidden;}
.cont_3_graph_1 img{width: 18.95vw!important;}

/* 세로그래프 */
.graph_h1{position: absolute; bottom: 20%; left: 12.1%;  width: 10.3%; height: 0vh; overflow: hidden;}
.graph_h1 img{position: absolute; bottom: 0; width: 100%; height: 26.6vh}
.graph_h2{position: absolute; bottom: 20%; left: 13.1%;  width: 10.3%; height: 0vh; overflow: hidden;}
.graph_h2 img{position: absolute; bottom: 0; width: 100%; height: 28.666vh}
.graph_h3{position: absolute; bottom: 20%; left: 34.6%;  width: 10.3%; height: 0vh; overflow: hidden;}
.graph_h3 img{position: absolute; bottom: 0; width: 100%; height: 25.8vh}
.graph_h4{position: absolute; bottom: 20%; left: 35.6%;  width: 10.3%; height: 0vh; overflow: hidden;}
.graph_h4 img{position: absolute; bottom: 0; width: 100%; height: 30.466vh}


/* 가로그래프 */
.graph_w1{position: absolute; top: 42.2%; left: 34.4%;  width: 0vw; overflow: hidden;}
.graph_w1 img{width: 36.4vw;}
.graph_w2{position: absolute; top: 37.4%; left: 60.9%;  width: 0vw; overflow: hidden;}
.graph_w2 img{width: 26.75vw;}
.graph_w3{position: absolute; top: 66%; left: 18.5%;  width: 0vw; overflow: hidden;}
.graph_w3 img{width: 26.75vw;}
.graph_w4{position: absolute; top: 66%; left: 60.9%;  width: 0vw; overflow: hidden;}
.graph_w4 img{width: 26.75vw;}


.arrow img{width: 100%;}
.arrow.num_1{position: absolute; top: 40.5%; left: 28.5%;  width: 5.6%; opacity: 0; overflow: hidden;}


.btn_1{position: absolute; top: 38%; left: 5.5%; width: 42.8%; height: 35%; border: solid 0px #000; cursor: pointer;}
.btn_2{position: absolute; top: 38%; left: 52%; width: 42.8%; height: 35%; border: solid 0px #000; cursor: pointer;}

.btn_close{position: absolute; top: 11.5%; right: 5.5%; width: 3.8%; height: 4.8%; border: solid 0px #000; cursor: pointer; z-index: 100}

.btn_prev{position: absolute; top: 45.1%;  left: 7.3%; width: 4.8%; height: 6.6%; border: solid 0px #000; cursor: pointer; z-index: 100}
.btn_next{position: absolute; top: 45.1%; right: 7.2%; width: 4.8%; height: 6.6%; border: solid 0px #000; cursor: pointer; z-index: 100}

.btn_popup{position: absolute; bottom: 9%; right: 5.5%; width: 22.5%; height: 6%; border: solid 0px #000;}
.blind{position: absolute; top: 0; left: 0; background: rgba(0,0,0, 0.5); width: 100%; height: 100%; display: none; z-index: 90}
.popup{position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: auto; display: none; z-index: 91;}
.popup img{position: relative; width: 100%;}
/* .popup img{position: absolute; width: 100%; top:50%; left:50%; transform: translate(-50%, -50%);} */
.popup iframe{width: 100%;}



.review_code{position: absolute; bottom: 0%; right: 0%; border: solid 0px #000; font-size: 0.6em; color: #888; padding: 0.7em 1.7em;}


@keyframes make_donut {
    0% {clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    }
    12.5% {
        clip-path: polygon(50% 50%, 50% 0, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }
    25% {
        clip-path: polygon(50% 50%, 50% 0, 100% 0%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
    }
    37.5% {
        clip-path: polygon(50% 50%, 50% 0, 100% 0%, 100% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
    }
    50% {
        clip-path: polygon(50% 50%, 50% 0, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);
    }
    62.5% {
        clip-path: polygon(50% 50%, 50% 0, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 100%, 0 100%, 0 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 50% 0, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 50%, 0 50%);
    }
    87.5% {
        clip-path: polygon(50% 50%, 50% 0, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 0 0);
    }
    100% {
        clip-path: polygon(50% 50%, 50% 0, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0, 50% 0);
    }
}

.beat_large{
    opacity: 1;
    animation-name: action_enlarge;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear; 
    animation-fill-mode: forwards;
}
@keyframes action_enlarge{
    0%{transform: scale(1)}
    50%{transform: scale(1.1)}
    100%{transform: scale(1)}
}